header {
  width: 100%;
  padding-left: $spacing; 
  @include flex;
  font-size: large;
}

.main-content {
  @include flex();
  justify-content: space-evenly;

  nav {
    align-items: flex-start;
    justify-content: center;
    width: fit-content;
  
    button:focus {
      box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width) $primary-color;
    }
  
    .nav-item {
      .active {
        border-bottom: 1px solid $primary-color;
    }
  
      .active:hover {
        border-bottom: 1px solid $hover-color;
      }
    }
  
    .nav-link {
      color:  $primary-color;
    }
  
    .nav-link:hover {
      color: $hover-color
    }
  }
  
  .container.m0 {
    margin: 0;
  
    #myTabContent{
      .dates {
        @include flex-center();
        justify-content: space-between;
        flex-wrap: wrap;
  
        .start,
        .end {
          cursor: pointer;
        }
      }
    
      .location {
        #countries,
        #cities {
          max-height: 40vh;
          overflow-y: scroll;
  
        #amenities {
          select #amenities-select{
            option[value = '1'] {
              background-image: '<i class="bi bi-star-fill"></i>';
              background-color: black
            }
          }
  
        }
        }
    
        #economy_types {
          @include flex();
          flex-direction: column;
        }
      }
    
      .buttons {
        margin-top: 50px;
        @include flex-end();
      }
    }
  }
}


.history-content {
  margin: 1em;

  .history-container {
    h1 {
      font-size: larger;
      margin-bottom: 2vh;
      font-weight: bolder;
    }

    .list {
      font-size: large;
      @include flex-center();
      flex-wrap: wrap;

      .history-item {
        border: 2px solid $primary-color;
        border-radius: 10px;
        margin: 1em;
        padding: 5px 10px;
        @include flex-center();
        flex-wrap: wrap;
        flex-direction: column;
        cursor: pointer;
      }

      .history-item:hover {
        border-color: $hover-color;
        color: $hover-color
      }

      .remove.btn {
        width: 1.5em;
        height: 1.5em;
        background-color: $primary-color;
        color: $text-color;
        margin-top: 1em;
        @include flex-center();
      }

      .btn:hover {
        background-color: $hover-color;
        border-color: $hover-color;
      }
    }
  }
  
  .page-numbers {
    .btn {
      color: $primary-color;
    }

    .active {
      background-color: $primary-color;
      color: $text-color;
    }

    .btn:hover {
      background-color: $hover-color;
      border-color: $hover-color;
      color: $text-color;
    }
  }

  .go-back {
    margin-top: 2vh;
    width: fit-content;
    a {
      border: 2px solid $primary-color;
      padding: 5px;
      border-radius: 10px;
    }

    a:hover {
        background-color: $hover-color;
        border-color: $hover-color;
        color: $text-color;
    }
  }
}
